<h2 class="alert alert-secondary mb-5 text-center">Send your message</h2>
<form (ngSubmit)="sendMessage()" #f="ngForm">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      placeholder="Enter your name"
      ngModel
    >
  </div>
  <div class="form-group">
    <textarea
      class="form-control"
      id="message" name="message"
      rows="3"
      placeholder="Enter your message"
      ngModel
    ></textarea>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-primary" [disabled]="isUploading">
      <span *ngIf="!isUploading">Send</span>
      <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
    </button>
  </div>
</form>

