<div class="container">
  <div class="row mt-5">
    <div class="col-6 mr-5">
      <app-messages></app-messages>
    </div>
    <div class="col-5">
      <app-new-messages></app-new-messages>
    </div>
  </div>
</div>
